body{
  background-color: b;
  text-align: center;
}
.wrapper{
  margin: 0 auto;
  width:300px;
}
.pomodoro{
  height:500px;
  background-color:rgb(40, 40, 45);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: .5em;
  padding: 10px 0;
}
.session{
  height: 100px;
  width:100px;
  
  background-color: greenyellow;
}
.controls{
  display:flex;
  justify-content: center;
}
.settings{
  display:flex;
  justify-content: center;  
}